---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <div>
      <img src="/images/campus-fall-wide.jpg" />
    </div>
    <div
      class="flex p-10 bg-bluey text-white justify-center text-3xl font-bold"
    >
      Starting Fall 2023
    </div>
    <div class="lg:grid lg:grid-cols-2 px-10 xl:px-40 md:px-20 md:py-10">
      <div class="prose">
        <h1>What is ERSP?</h1>
        <p>
          The BYU Computer Science Early Research Scholars Program (ERSP) is a
          team-based research apprentice experience for computer science majors
          in their second year of the program.
        </p>
        <p>
          Students work in teams of four, and each team is matched with an
          active research project in the department. Students learn about
          research in computer science and then propose and carry out an
          independent research project over the course of an academic year.
        </p>
        <!--<p>
          ERSP groups attend a research group’s normal weekly meetings to
          observe and learn from (and eventually contribute to) this research
          group. At the same time, ERSP students attend a weekly support class
          with all other students in the ERSP program that helps them learn the
          basics of research and make sense of what they are hearing and
          learning about in their research groups.
        </p>-->
      </div>
      <div class="py-5 md:p-10 md:mt-10">
        <img src="/images/ryan-farrell.jpg" />
      </div>
    </div>
    <div
      class="flex px-10 md:px-20 xl:px-40 py-10 bg-yellow text-2xl md:text-5xl"
    >
      <p>
        ERSP is a <b>structured</b> and <b>scalable</b> research experience for early
        undergraduates in computer science
      </p>
    </div>
  </main>
</Layout>
